/* Plantilla para usar un Style.css genérico*/
*{
  margin:0; padding:0;
  box-sizing:border-box;
}

:root{
  --c1:coral;
  --c2:black:

  --c:var(--c1);
}

html{
  font-family:sans-serif;
  max-width:560px;
  background-color:coral;
  padding:12px;
  min-height:96dvh;
}

body{
  background-color:var(--c1);
  padding:20px;
  border-radius:20px;
}

h1, h2, h3, h4, h5, h6{
  color:var(--c1);
}

nav,ul.lista,ul.galeria,ul.cards.flex{
  list-style:none;
  padding-left:0;
  
  display:flex;
  gap:4px;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;

  li{
    flex:1 1 0;
  }

} /* flex */



button, .btn{
  background:var(--c1);
  text-align:center;
  border-radius:20px;
  padding:8px 26px;
  border:var(--c1) 2px solid;
}

button:hover, .btn:hover{
  background:var(--c2);
  color:var(--c1);
}




/**********/


*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

html{
	font-family: sans-serif;
	max-width:860px;
	margin: auto;
}
#galeria{
	list-style:none;
	padding-left: 0;
	
	display: flex;
	flex-wrap:wrap;
	gap:0;
}

#galeria img{
	display:block;
	max-width:100%;
	transition:.5s;
	filter:grayscale(1);

}

#galeria img:hover{
	scale:1.2;
	z-index:2;
	filter:grayscale(0);
}


